table {
    border-collapse: collapse;
}

td {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
}

tr:last-child td:first-child {
    border-left: none;
    border-bottom: none;
}

.white_cell {
    background: white;
}

.black_cell {
    background: saddlebrown;
}

